<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Project Catalyst</title>

    @*QuillJS Scripts + Stylesheets*@
    <script src="https://cdn.quilljs.com/1.1.3/quill.js"></script>
    <script src="https://cdn.quilljs.com/1.1.3/quill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libx/jquery/3.1.1/jquery.mis.js"></script>

    <link href="https://cdn.quilljs.com/1.1.3/quill.snow.css" rel="stylesheet" />
    <link href="https://cdn.quilljs.com/1.1.3/quill.bubble.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/pace/themes/pace-theme-flash.css" />
    <link rel="stylesheet" href="~/lib/markdown/medium-editor.min.css" />
    <link rel="stylesheet" href="~/lib/markdown/themes/beagle.min.css" />
    <link rel="stylesheet" href="~/css/mediaelementplayer.min.css" />
    <link rel="stylesheet" href="~/lib/ichord/css/jquery.atwho.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="~/lib/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="~/lib/ideascale-ui/ideascale-ui.css" />
    <link rel="stylesheet" href="~/css/campaign-v2/ideascale-v4-responsive.css" />
    <link rel="stylesheet" href="~/css/panel.css" />
    <link rel="stylesheet" href="~/css/panel-custom-pages.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="lucido fixed-top">
            <nav id="universal-top-bar" class="navbar navbar-expand navbar-top p-0 lucido-topbar">
                <div class="container-fluid">
                    <a class="navbar-brand ml-3" asp-area="" asp-controller="Home" asp-action="Index"><img id="img-logo" class="d-inline-block align-top" src="~/images/iohk_logo.png" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex">
                        <ul class="navbar-nav">
                            <li>
                                <div class="page-menu">
                                    <div class="selected-page">
                                        <p class="page"><i class="fa fa-list"></i>Comunity Landing</p>
                                        <div class="dropdownToggle">
                                            <label for="btn" class="toggle"><span class="fa-solid fa-caret-down"></span></label>
                                            <input type="checkbox" id="btn" class="toggle-check" />
                                        </div>
                                    </div>
                                    <ul class="pages">
                                        <li>
                                            <a href="#"><i class="fa fa-house"></i>Home</a>
                                        </li>
                                        <li>
                                            <a href="/home/index"><i class="fa fa-list"></i>Community Landing</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-ranking-star"></i>Top Collaboratiors</a>
                                        </li>
                                        <hr />
                                        <li>
                                            <b><i class="fa-solid fa-bullhorn"></i> Fund 9</b>
                                        </li>
                                        <div class="fund-challenges">
                                        <li>
                                            <a href="#">F9: The Great Migration (from Ethereum)</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: DAOs &lt;3 Cardano</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: Dapps, Products &amp; Integrations</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: Legal &amp; Financial Implementations</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: Developer Exosystem</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: Cross-Chain Collaboration</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: Challenge &amp; Scouted for Students 🎓</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: Grow Africa, Grow Cardano</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: dRep improvement and onboarding</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: Grow East Asia, Grow Cardano</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: Building (on) Blockfrost</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: Catalyst Natives X Cardashift: Demonstrating and monetizing impact</a>
                                        </li>
                                        <li>
                                            <a href="#">F9: Fund10 challenge setting</a>
                                        </li>
                                        <hr />
                                        <li>
                                            <b><i class="fa-solid fa-bullhorn"></i> Catalyst process improvements</b>
                                        </li>
                                        <div class="catalyst-improvements">
                                        <li>
                                            <a href="#">Project Catalyst Problem Sensing</a>
                                        </li>
                                </div>
                        </ul>
                    </div>
                    </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse justify-content-end">
                    <form id="topbar-search-input-container" role="search" method="get" action="#" class="pr-3">
                        <label for="search-query" class="sr-only">Search Ideas</label>
                        <div class="input-group d-none d-lg-flex">
                            <input id="search-query" class="form-control search-control" type="text" name="query" accesskey="s" tabindex="0" placeholder="Search Ideas" />
                            <span class="input-group-prepend">
                                <button type="submit" class="btn btn-sm search-btn rounded-right px-2">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <button type="submit" class="btn btn-lg ml-auto px-0 search-btn rounded-right d-block d-lg-none">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                        @{
                            if (User?.Identity?.IsAuthenticated ?? false)
                            {
                                    <div>
                                        <ul class="navbar-nav ml-auto ml-lg-0">
                                            <li class="border-right-0 dropdown slidable-dropdown d-none d-lg-block">
                                                <a class="border-left" href="#" role="button" id="utb-custom-pages-indicator" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa-solid fa-compass"></i>
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="utb-custom-pages-indicator" style="width: 280px;">
                                                    <span class="select2-results">
                                                        <ul class="select2-results__options" role="listbox" id="select2-topbar-custom-pages-dropdown-results">
                                                            <li class="select2-results__option select2-results__option--highlighted" role="option">
                                                                <span class="py-1 px-3 text-truncate d-block" title="Quick FAQ">Quick FAQ</span>
                                                            </li>
                                                            <li class="select2-results__option" role="option">
                                                                <span class="py-1 px-3 text-truncate d-block" title="Voting results">Voting results</span>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="dropdown slidable-dropdown d-none d-lg-block">
                                                <a class="border-right" href="#" role="button" id="utb-labels-indicator" data-toggle="dropdown">
                                                    <i class="fa-solid fa-flag"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="utb-labels-indicator" style="width: 200px; position: absolute;">
                                                    <strong class="select2-results__group">
                                                        <span class="w-100 label-span rounded">Labels</span>
                                                    </strong>
                                                    <ul class="label-indecators">
                                                        <li>
                                                            <div class="w-100 label-wrapper">
                                                                <span class="w-100 label-span rounded label label-field-edited">
                                                                    Edited
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="w-100 label-wrapper">
                                                                <span class="w-100 label-span rounded label label-field-in-reserve">
                                                                    In Reserve
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="w-100 label-wrapper">
                                                                <span class="w-100 label-span rounded label label-field-off-topic">
                                                                    Off Topic
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="w-100 label-wrapper">
                                                                <span class="w-100 label-span rounded label label-field-trending_top">
                                                                    Trending
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <span class="select2-dropdown topbar-labels-dropdown select2-dropdown--below">
                                                        <span class="select2-results">
                                                            <ul class="select2-results__options" role="listbox" id="select2-topbar-labels-dropdown-results">
                                                                <li class="select2-results__option" role="group" aria-label="Labels">
                                                                    <strong class="select2-results__group">
                                                                        <span class="w-100 label-span rounded">Labels</span>
                                                                    </strong>
                                                                    <ul class="select2-results__options select2-results__options--nested">
                                                                        <li class="select2-results__option select2-results__option--highlighted" role="option">
                                                                            <div class="w-100 label-wrapper">
                                                                                <span class="w-100 label-span rounded label label-field-edited">Edited</span>
                                                                            </div>
                                                                        </li>
                                                                        <li class="select2-results__option" role="option">
                                                                            <div class="w-100 label-wrapper">
                                                                                <span class="w-100 label-span rounded label label-field-in-reserve">In Reserve</span>
                                                                            </div>
                                                                        </li>
                                                                        <li class="select2-results__option" role="option">
                                                                            <div class="w-100 label-wrapper">
                                                                                <span class="w-100 label-span rounded label label-field-off-topic">Off Topic</span>
                                                                            </div>
                                                                        </li>
                                                                        <li class="select2-results__option" role="option">
                                                                            <div class="w-100 label-wrapper">
                                                                                <span class="w-100 label-span rounded label label-field-trending_top">Trending</span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="dropdown slidable-dropdown border-right-0">
                                                <a class="utb-with-numeric-indicator" href="#" role="button" id="utb-member-action-item-anchor" data-toggle="dropdown">
                                                    <i class="fa-solid fa-square-check"></i>
                                                    <span class="badge dot" aria-hidden="true">•</span>
                                                    <span class="sr-only">has alerts</span>
                                                </a>
                                                <div id="utb-action-item-box" class="dropdown-menu utb-msg-container click-bubble-off no-focus-outline" aria-labelledby="utb-member-action-item-anchor">
                                                    <div class="utb-msg-heading">
                                                        <span>Drafts to Submit</span>
                                                        <span class="float-right">
                                                            <a href="#" class="text-primary"> See All </a>
                                                        </span>
                                                    </div>
                                                    <ul class="utb-msg-list utb-responsive-height">
                                                        <li>
                                                            <a href="#">
                                                                <strong style="font-size: 12px; color: #8595ff;">Project Resource Pool</strong>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="utb-msg-heading">
                                                        <span>Profile Action Items</span>
                                                    </div>
                                                    <ul class="utb-msg-list utb-responsive-height" data-features="modal-dialog">
                                                        <li>
                                                            <a class="modal-dialog-trigger" href="#">
                                                                <strong style="font-size: 12px; color: #8595ff;">Profile Questions [ 1 ]</strong>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="dropdown slidable-dropdown border-right-0">
                                                <a class="" href="#" role="button" id="utb-notification-msg-indicator" data-toggle="dropdown">
                                                    <i class="fa-solid fa-bell"></i>
                                                </a>
                                                <div id="utb-notification-box" class="dropdown-menu utb-msg-container click-bubble-off no-focus-outline" aria-labelledby="utb-notification-msg-indicator" tabindex="-1">
                                                    <div class="utb-msg-heading">
                                                        <h5>Notifications</h5>
                                                        <div class="utb-msg-filter">
                                                            <a href="#" class="btn font-weight-normal btn-secondary font-weight-bold">
                                                                All
                                                            </a>
                                                            <a href="#" class="btn font-weight-normal">
                                                                Ideas
                                                            </a>
                                                            <a href="#" class="btn font-weight-normal">
                                                                Kudos
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <ul class="utb-msg-list member-notifications utb-responsive-height">
                                                        <li class="">
                                                            <div class="utb-col-avatar">
                                                                <img class="utb-avatar avatar avatar-sm" src="https://app.ideascale.com/userimages/avatar/583/5835749/8C33E504-E06C-4990-BA97-5EC4B316DC00-fbd86c.jpeg" alt="">
                                                            </div>
                                                            <div class="utb-col-content" style="font-size: 12px;">
                                                                <a href="/a/member/Headelf/3114429-48088">Headelf</a> commented on idea, <a href="/a/dtd/C4S-Cardano4Seniors-Animation/413950-48088#idea-tab-comments">C4S-Cardano4Seniors-Animation</a>
                                                            </div>
                                                            <small class="date" style="font-size: 9.5px;"><time datetime="2022-07-26T04:05:52.000-07:00">26/Jul/22 7:05 AM</time></small>
                                                        </li>
                                                    </ul>
                                                    <div class="utb-msg-footer clearfix">
                                                        <a class="link-btn-default pull-left float-left" href="#">
                                                            View all notifications
                                                            <span class="badge badge-pill badge-danger">357</span>
                                                        </a>
                                                        <a class="btn btn-secondary pull-right float-right" href="#">View subscriptions</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dropdown slidable-dropdown border-right-0">
                                                <a class="" href="#" role="button" data-toggle="dropdown">
                                                    <i class="fa-solid fa-envelope"></i>
                                                </a>
                                                <div id="utb-msg-box" class="dropdown-menu dropdown-menu-right" aria-labelledby="utb-notification-msg-indicator" tabindex="-1">
                                                    <div class="utb-msg-heading">
                                                        <h5>Messages</h5>
                                                    </div>
                                                    <div class="utb-msg-no-new" style="font-size: 14px;">There are no new messages.</div>
                                                    <div class="utb-msg-footer text-center">
                                                        <div>
                                                            <span class="unread-count" style="font-size: 12px;">0 unread</span>
                                                        </div>
                                                        <div class="message-footer-button-container">
                                                            <button class="view-button">
                                                                <a class="btn btn-block" style="font-size: 14px" href="#">
                                                                    View All Messages
                                                                </a>
                                                            </button>
                                                            <button class="compose-button">
                                                                <a class="btn btn-block" style="font-size: 14px" href="#">
                                                                    Compose
                                                                </a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <a disabled="!true" href="#" title="Submit Your Idea" class="no-dropdown" rel="nofollow" data-toggle="modal" data-target="#idea-form-modal">
                                                    <i class="fa-solid fa-circle-plus fa-2x" style="color: #fb5629; padding-top: 10px;"></i>
                                                </a>
                                            </li>
                                            <li class="dropdown slidable-dropdown m-0" id="utb-profile-dropdown">
                                                <a class="utb-avatar-menu" href="#" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" style="width:55px;">
                                                    <div class="utb-avatar-col">
                                                        <img id="topbar-avatar" class="utb-avatar avatar avatar-sm" src="https://secure.gravatar.com/avatar/3f6beaa317adead387d7fd5afb87ef23.jpg?s=80&amp;d=https%3A%2F%2Fstatic.ideascale.com%2Fimages%2Favatar%2Fdefault-J.png" alt="">
                                                    </div>
                                                </a>
                                                <div class="dropdown-menu click-bubble-off no-focus-outline" id="utb-user-menu" tabindex="-1">
                                                    <a class="hidden-md-min profile-dropdown-logo" href="/a/">
                                                        <img src="https://cardano.ideascale.com/community-library/accounts/93/936143/IOHK_logo_topbar-a659a6.png" alt="Logo IOHK">
                                                    </a>
                                                    <ul class="dropdown-menu-item-group">
                                                        <li class="lucido user-info">
                                                            <a class="bg-transparent" href="https://cardano.ideascale.com/c/profile/3097498">
                                                                <div class="d-flex">
                                                                    <div class="utb-avatar-col">
                                                                        <img id="topbar-avatar" class="utb-avatar avatar avatar-md" src="https://secure.gravatar.com/avatar/3f6beaa317adead387d7fd5afb87ef23.jpg?s=80&amp;d=https%3A%2F%2Fstatic.ideascale.com%2Fimages%2Favatar%2Fdefault-J.png" alt="">
                                                                    </div>
                                                                    <div class="d-flex flex-column">
                                                                        <span class="utb-username lucido-username  utb-username-only  " title="Joey Chessher">
                                                                            Joey Chessher
                                                                        </span>
                                                                        <small class="text-muted font-size-sm" title="joey.chessher">
                                                                            @@joey.chessher
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="dropdown-divider"></li>
                                                        <li>
                                                            <a data-element-id="invite-friend" href="https://cardano.ideascale.com/a/invite/friend">
                                                                <i class="fa-solid fa-user-plus"></i>
                                                                Invite Friends
                                                            </a>
                                                        </li>
                                                        <li class="dropdown-divider"></li>
                                                        <li>
                                                            <a data-element-id="personal-settings" href="https://app.ideascale.com/a/person/profile/">
                                                                <i class="fa-solid fa-user-gear"></i>
                                                                Personal Settings
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a data-element-id="notifications" href="https://app.ideascale.com/a/person/notifications/#member-3097498">
                                                                <i class="fa-solid fa-bell"></i>
                                                                Notifications
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a data-element-id="help" href="https://support.ideascale.com/">
                                                                <i class="fa-solid fa-circle-question"></i>
                                                                Help
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a data-element-id="new-features" href="https://cardano.ideascale.com/a/new-features">
                                                                <i class="fa-solid fa-cake-candles"></i>
                                                                New Features
                                                            </a>
                                                        </li>
                                                        <li class="dropdown-divider"></li>
                                                        <li>
                                                            <a asp-controller="Account" asp-action="Logout" class="dropdown-item" data-element-id="logout-link"><i class="fa-solid fa-power-off"></i> Logout</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                            }
                            else
                            {
                                    <ul class="navbar-nav ml-auto ml-lg-0">
                                        <li>
                                            <a href="/User/Create" class="border-left border-right" type="button">
                                                <i class="fa fa-user-plus"></i> Register
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Secured" class="" type="button">
                                                <i class="fa fa-arrow-circle-right"></i> Log in
                                            </a>
                                        </li>
                                    </ul>
                            }
                        }
                    </ul>
                </div>
        </div>
        </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="footer row mt-5 pt-5">
                <div class="col-lg-5 col-md-12">
                    <img src="~/Images/catalyst_logo.png" width="180" />
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <h4>About</h4>
                            <ul>
                                <li>
                                    <a href="#">The Project</a>
                                </li>
                                <li>
                                    <a href="#">Submit an Idea</a>
                                </li>
                                <li>
                                    <a href="#">Browse Ideas</a>
                                </li>
                                <li>
                                    <a href="#">FAQs</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <h4>Contact</h4>
                            <ul>
                                <li>
                                    <a href="https://t.me/cardanocatalyst">Join us on Telegram</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr />
                    <br />
                    <p class="text-center ">Catalyst @DateTime.Now.Year &copy; All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="idea-form-modal" tabindex="-1" role="dialog" aria-labelledby="proposal-modal-label" aria-hidden="true">
        <div aria-labelledby="idea-submission-form" class="modal-dialog model-lg idea-form-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="proposal-modal-label"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-4 pt-0">
                    <form class="position-relative showing idea-submussion-form px-lg-2" id="idea-submission-form">
                        <div class="d-flex justify-content-between mt-lg-n2 mt-n3 mb-lg-4 mb-2">
                            <h1 class="submission-heading font-weight-bold" id="idea-submission-form">
                                Proposal Submission Form
                            </h1>
                            <div class="drawer-able draft-list dropdown">
                                <button type="button" aria-haspopup="true" aria-expanded="false" class="btn-dropdown-menu btn btn-draft border-0 px-0 dropdown-toggle btn btn-default">
                                    0 Drafts
                                </button>
                            </div>
                        </div>
                        <div class="pt-3 pb-4">
                            @using (Html.BeginForm())
                            {


                            }
                            <div class="form-group">
                                <label class="font-weight-bold" for="campaign" placeholder="">
                                    Campaign
                                    <span class="font-size-lg">*</span>
                                </label>
                                <select class="form-control" id="campaign" name="campaign">
                                    <option value="" disabled selected>-- Please choose a campaign --</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="title">
                                    Title
                                    <span class="font-size-lg">*</span>
                                </label>
                                <input class="form-control" id="title" type="text" maxlength="35" name="title" />
                                <div class="text-muted mt-2">35 characters left</div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="description">
                                    Description
                                    <span class="font-size-lg">*</span>
                                </label>
                                <div id="toolbar"></div>
                                <div id="editor"></div>
                                <div id="counter"></div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="tags">
                                    Tags [Predefined Tag Enabled]
                                </label>
                                <select class="form-control" id="tags" name="tags">
                                    <option value="" disabled selected>Add Tags</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="attachments">
                                    Attach an image or supporting document
                                </label>
                                <input class="form-control" id="attachments" name="attachments" type="file" />
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="contributors">
                                    Add Co-submitters
                                </label>
                                <select class="form-control" id="contributors" name="contributors">
                                    <option value="" disabled selected>Enter Display Name, Username or Email Address</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".selected-page").click(function(e) {
                if (!$(e.target).is('input:checkbox')) {
                    var $checkbox = $(this).find('input:checkbox');
                    $checkbox.prop('checked', !$checkbox.prop('checked'));
                }
                $('.selected-page .toggle span').toggleClass("rotate");
                if ($('.toggle-check').is(":checked"))
                    $(".pages").css("display", "block");
                else
                    $(".pages").css("display", "none");
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
