@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Project Catalyst</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>

<body class="mt-5">
    <header class="text-center">
        <img class="rounded mx-auto d-block" src="~/images/iohk_logo_2.png" />
        <h2 class="font-weight-normal mt-3">
            Log in to your account
        </h2>
        <p class="mt-2 text-secondary">
            Don't have an account yet? <a href="/User/Create" class="text-primary">Register</a>
        </p>
    </header>

    <fieldset>
        <div class="mx-auto" style="width: 375px;">
            <div class="text-danger" asp-validation-summary="All"></div>
            <form method="post">
                <div class="form-group">
                    <label id="lblEmail">Email Address</label>
                    <div class="input-group">
                        <input id="txtEmail" name="email" class="form-control" type="email" required />
                    </div>
                </div>
                <div class="form-group">
                    <label id="lblPassword">Password</label>
                    <div class="input-group" id="showHidePwd">
                        <input id="txtPassword" name="password" class="form-control" type="password" required />
                        <div class="input-group-append">
                            <a href="#" class="btn btn-secondary" type="button">
                                <span class="fa fa-eye-slash icon" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="text-primary">Forgot Password</a>
                </div>
                <div class="mt-3">
                    <input type="checkbox" id="rememberMe" checked />
                    <label for="rememberMe">Stay logged-in</label>
                </div>
                <div class="form-group">
                    <button id="btnLogin" class="btn btn-primary btn-block" type="submit" onclick="lsRememberMe()">Log In</button>
                </div>
            </form>
        </div>
    </fieldset>
    <footer>
        <p class="text-center text-secondary fixed-bottom">If you have any questions, please contact the administrator of the community.</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#showHidePwd a').on('click', function () {
                event.preventDefault();
                if ($('#txtPassword').attr("type") == "text") {
                    $('#txtPassword').attr('type', 'password');
                    $('#showHidePwd span').addClass("fa-eye-slash");
                    $('#showHidePwd span').removeClass("fa-eye");
                } else if ($('#txtPassword').attr("type") == "password") {
                    $('#txtPassword').attr('type', 'text');
                    $('#showHidePwd span').removeClass("fa-eye-slash");
                    $('#showHidePwd span').addClass("fa-eye");
                }
            });
        });

        const rmCheck = document.getElementById("rememberMe"),
            emailInput = document.getElementById("txtEmail");

        if (localStorage.checkbox && localStorage.checkbox !== "") {
          rmCheck.setAttribute("checked", "checked");
          emailInput.value = localStorage.username;
        } else {
          rmCheck.removeAttribute("checked");
          emailInput.value = "";
        }

        function lsRememberMe() {
          if (rmCheck.checked && emailInput.value !== "") {
            localStorage.username = emailInput.value;
            localStorage.checkbox = rmCheck.value;
          } else {
            localStorage.username = "";
            localStorage.checkbox = "";
          }
        }
    </script>
</body>
</html>
 

