@{
    ViewData["Title"] = "Community Landing";
    Layout = "_Layout";
}

<div id="communityLandingCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Images/community_landing_image.png" alt="First slide" />
        </div>
    </div>
</div>
<section id="howItWorks" class="how-it-works">
    <h2 class="mt-5 text-center">
        Here's how it works
    </h2>
    <div class="mt-5 row">
        <div class="text-center col-lg-4">
            <img src="~/Images/innovate_together.png" style="display:block; margin:30px auto 10px;" />
            <h3 style="font-weight:bold">Innovate Together</h3>
            <p class="text-center">
                Got an Idea? Create an impactful proposal and collaborate with the community to develop and refine it.
            </p>
        </div>
        <div class="text-center col-lg-4">
            <img src="~/Images/vote_favorite.png" style="display:block; margin:40px auto 30px;" />
            <h3 style="font-weight:bold">Vote for your favorite ideas</h3>
            <p class="text-center">
                Use a voting app to choose ideas with impact worth funding. Get rewarded in ADA for taking part.
            </p>
        </div>
        <div class="text-center col-lg-4">
            <img src="~/Images/stay_up_to_date.png" style="display:block; margin:30px auto 10px;" />
            <h3 style="font-weight:bold">Stay up to date</h3>
            <p class="text-center">
                Recieve regular updates on all the funded ideas, so you can follow along and see how things are progressing.
            </p>
        </div>
    </div>
</section>
<article class="text-center">
    <a href="#activeCampaigns">
        <img src="~/Images/arrow_down.png" class="mt-5" />
    </a>
    <section id="activeCampaigns" class="active-campaings cl-section cl-campaings mt-5">
        <div class="cl-row">
            <h1 class="text-center" style="font-weight:bold">Active Campaigns</h1>
            <p class="text-center" style="">Browse ongoing initiatives</p>
            <hr class="dark" />
            <div class="row">
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style="background-image: url('https://cardano.ideascale.com/community-library/accounts/93/936143/Public/02-The-Great-Migration-from-Ethereum-d703ec.png') !important;">
                        <span class="cl-campaign-title">F9: The Great Migration (from Ethereum)</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            How might we make it easy and fast for dApps and other projects to expand or completely move from Ethereum to Cardano?
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            42
                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/07-DAOs-_3-Cardano-1000000-1ddda3.png") !important;'>
                        <span class="cl-campaign-title">F9: DAOs &lt;3 Cardano</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            How can we make Cardano the go-to choice for building DAOs? What tools can we provide to enable effective DAO's Creation & Operation
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            111

                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/06-Dapps-products-_-integrations-45d612.png") !important;'>
                        <span class="cl-campaign-title">F9: Dapps, Products & Integrations</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            What dapps, products and integrations can be implemented to bring impactful use cases to Cardano ecosystem that help drive more adoption?
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            606

                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/09-Legal-_-Financial-Implementations-9dbf3f.png") !important;'>
                        <span class="cl-campaign-title">F9: Legal & Financial Implementations</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            What dapps, products and integrations can be implemented to bring impactful use cases to Cardano ecosystem that help drive more adoption?
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            62

                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/01-Developer-Ecosystem-8c5f3b.png") !important;'>
                        <span class="cl-campaign-title">F9: Developer Ecosystem</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            How can we create a positive developer experience that helps the developer focus on building successful apps?
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            147
                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/03-Cross-Chain-Collaboration-fc4ff5.png") !important;'>
                        <span class="cl-campaign-title">F9: Cross-Chain Collaboration</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            In the next 6-12 months, how might we create new connections between blockchain communities and how do we enhance existing collaboration?
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            80
                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/10-Challenge-_-Scouted-for-Students-fe0972.png") !important;'>
                        <span class="cl-campaign-title">F9: Challenge & Scouted for Students🎓</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            How can we provide Student Entrepreneurs with a place to appeal their ideas to the world and an opportunity to connect with Engineers?
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            49
                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/04-Grow-Africa-Grow-Cardano-933cde.png") !important;'>
                        <span class="cl-campaign-title">F9: Grow Africa, Grow Cardano</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            How do we prepare Africa for a future of wide-scale Cardano adoption? How do we continue to seed and grow adoption in 2022 and beyond?
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            135
                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/11-dRep-improvement-and-onboarding-150000-cce6a6.png") !important;'>
                        <span class="cl-campaign-title">F9: dRep improvement and onboarding</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            How do you achieve "(1) diverse and many dRep participation + (2) easy and proper voter delegation?"
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            32
                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/05-Grow-East-Asia-Grow-Cardano-ab0989.png") !important;'>
                        <span class="cl-campaign-title">F9: Grow East Asia, Grow Cardano</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            How do we grow the Cardano ecosystem in East Asia in an inclusive and supportive way? The same way we do in Africa, focused initiatives!
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            101
                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/12-Building-on-Blockfrost-fdb9c3.png") !important;'>
                        <span class="cl-campaign-title">F9: Building (on) Blockfrost</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            How can we expand the Blockfrost ecosystem to drive the developer adoption on Cardano?
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            15
                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/13-Catalyst-Natives---Cardashift-dc94bd.png") !important;'>
                        <span class="cl-campaign-title">F9: Catalyst Natives X Cardashift: Demonstrating and monetizing impact</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            How could the Cardano technology be leveraged to build new solutions for positive impact valuation and monetization?
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            53
                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/community-library/accounts/93/936143/Public/14-Fund10-Challenge-Setting-5da73d.png") !important;'>
                        <span class="cl-campaign-title">F9: Fund10 challenge setting</span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            What Challenges should the community prioritize to address in Fund10?
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            80
                        </span>
                    </article>
                </a>
                <a class="col-lg-4" href="#">
                    <div class="cl-campaign-logo-box landing-pg-bg-accent-1" style='background-image: url("https://cardano.ideascale.com/img/campaignbanners/10.jpg") !important;'>
                        <span class="cl-campaign-title">Project Catalyst Problem Sensing </span>
                    </div>
                    <article class="cl-campaign-box">
                        <p class="cl-campaign-desc">
                            Please, tell us what problems you see with Project Catalyst.
                        </p>
                        <span class="cl-campaign-idea-number">
                            <span class="fa fa-lightbulb" aria-hidden="true"></span>
                            <span class="sr-only">Number of Ideas:</span>
                            599
                        </span>
                    </article>
                </a>
            </div>
        </div>
    </section>
</article>