/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Footer Styling
-------------------------------------------------- */
.footer {
    background-color: #192750;
}

    .footer h4 {
        text-align: left !important;
        font-weight: 900;
        color: #0089ff;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 18px;
    }

    .footer ul {
        list-style: none;
        padding-left: 0;
    }

    .footer a,
    p {
        color: white;
        text-decoration: none;
    }

        .footer a:hover {
            color: white;
            text-decoration: none;
        }

/*Page Selector Styling*/
.selected-page {
    cursor: pointer;
    width: 300px;
    height: 35px;
    background-color: #f0f2f5;
    border: 1px solid #d8d9df;
    border-radius: 5px;
    display: flex;
    vertical-align: middle;
    font-size: 15px;
}

    .selected-page p {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #212529;
        display: flex;
        padding: 6px 7px 2px 4px;
    }

        .selected-page p i {
            padding-right: 10px;
            padding-top: 3px;
            padding-left: 15px;
        }

        .selected-page p span {
            justify-content: right;
            transition: 0.3s;
            display: flex;
        }

    .selected-page label {
        display: block;
        cursor: pointer;
        display: flex;
    }

    .selected-page input {
        display: none;
    }

.dropdownToggle {
    margin-left: auto;
    margin-right: 5px;
    margin-top: 10px;
}

.toggle span {
    transition: 0.3s;
}

    .toggle span.rotate {
        transform: rotate(-180deg);
    }

/*Page Selector Page Dropdown Styling*/
.pages {
    width: 300px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
    max-height: 450px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 1;
    position: absolute;
    font-size: 15px;
}

    .pages li {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .pages hr {
        margin: 15px 0px 15px 0px;
    }

    .pages b {
        padding-left: 10px;
    }

    .pages li a {
        width: 300px;
        display: block;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
        color: #333333;
    }

        .pages li a:hover {
            background-color: #f2f2f2;
        }

        .pages li a i {
            margin-right: 10px;
        }

.fund-challenges {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .fund-challenges li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 10px 0px 10px 0px;
    }

        .fund-challenges li a:before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-right: 10px;
            background-image: url("../images/f9_logo.png");
            -webkit-border-radius: 5px;
        }

.catalyst-improvements {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .catalyst-improvements li {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

        .catalyst-improvements li a:before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-right: 10px;
            background-image: url("../images/logo_iohk.png");
            -webkit-border-radius: 5px;
        }

/*User Registration Pages Styling*/
.btn-register,
.btn-login {
    background-color: #384ec1;
    font-weight: 700;
}

/*Community Landing Page Styling*/

.how-it-works h2 {
    font-size: 28px;
    font-weight: normal;
    color: #798aff;
}

.how-it-works h3 {
    font-size: 18px;
    color: #333333;
}

.how-it-works p {
    font-size: 16px;
    color: #333333;
}

hr.dark {
    border: 0;
    height: 2px;
    width: 25%;
    background-image: linear-gradient( to right, #000000, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) );
    margin-bottom: 45px;
}

.cl-row {
    padding-top: 45px;
    padding-bottom: 75px;
}

.active-campaings p {
    color: #333333;
    font-size: 16px;
}

.cl-campaings {
    text-align: left;
}

    .cl-campaings .cl-campaign-logo-box {
        height: 250px;
        background-size: cover !important;
        background-repeat: no-repeat;
        position: relative;
        border: 1px solid #ccc;
        border-bottom: none;
    }

    .cl-campaings .cl-campaign-title {
        position: absolute;
        bottom: 5px;
        left: 15px;
        right: 15px;
        font-size: 25px;
        line-height: 30px;
        font-weight: 900;
        color: #fff;
        text-decoration: none;
        text-shadow: #000 1px 2px 17px;
    }

    .cl-campaings .cl-campaign-box {
        background: #fff;
        border: 1px solid #ccc;
        padding: 15px;
        height: 190px;
        margin-bottom: 30px;
        transition: 0.25s;
    }

        .cl-campaings .cl-campaign-box:hover {
            background: #ebebeb;
        }

    .cl-campaings .cl-campaign-idea-number {
        position: absolute;
        bottom: 50px;
        left: 40px;
        font-size: 16px;
        color: #999;
        font-weight: 900;
    }
